body{
    margin: 0;
}
.container{
    background: url("img/BG.jpg");
    height: 100vh;
    background-size: cover;
}
.contentList{
    background: rgba(255, 255, 255, 0.5);
    width: 900px;
    /*min-width: 500px;*/
    height: 800px;
    /*min-height: 400px;*/
    border-radius: 8px;
    box-shadow: 0 0 32px rgba(0,0,0,0.9);
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: "Century Gothic";
    transform: translate(-50%, -50%);
    overflow: hidden;

}
.contentAdd{
    background: rgba(255, 255, 255, 0.5);
    width: 500px;
    /*min-width: 500px;*/
    height: 400px;
    /*min-height: 400px;*/
    border-radius: 8px;
    box-shadow: 0 0 32px rgba(0,0,0,0.9);
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: "Century Gothic";
    transform: translate(-50%, -50%);
    overflow: hidden;

}
.tableAdd{
    margin-top: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    /*box-sizing: border-box;*/
    transform: translate(-50%, -50%);
}
.blur {
    background: inherit;
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(15px);
    z-index: -1;

}
.tableAdd td {
    /*top: 30px;*/
    font-size: 18px;
    color: black;

}

.tableAdd input{
    width: 100%;
    /*margin-bottom: 1px;*/
}
.tableAdd input[class=inputText]:hover{
    background-color: coral;
    border-radius: 5px;
    transition-duration: 0.5s;
}
.tableAdd input[class=inputText]{
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    height:  30px;
    width: 120px;
    outline: none;
    color: black;
}
::placeholder{
    color: rgb(0,0,0);
}
.tableAdd input[type=submit] {
    color: black;
    height: 30px;
    background: coral;
    cursor: pointer;
    border: none;
    font-size: 15px;
    outline: none;
    border-radius: 3px;
}
#header .data{
    color: black;
    text-decoration: none;
}
#header .dataActive{
    color: black;
    border-radius: 5px;
    text-decoration: none;
    background: coral;
}
.tableAdd input[type=submit]:hover {
    background-color: lightcoral;
    transition-duration: 0.5s;
}

.table p{
    position: absolute;
    left: 1%;
}
.table table{
    position: absolute;
    table-layout: fixed;
    width: 100%;
    top: 100px;
    border-collapse: collapse;
}

.table td, .table th{
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1px;
    text-align: left;
}
.head{
    border-bottom: solid 1px black;
}
.row:hover {
    transition-duration: 0.5s;
    background-color: coral;
}
#header li:hover{
    border-radius: 5px;
    background-color: coral;
    transition-duration: 0.5s;

}
#header li{
    overflow: hidden;
    list-style-type: none;
    float: left;
    padding-left: 0;
}
#header li a{
    text-decoration: none;
    padding: 4px;
}
#header{
    position: absolute;
}
#header ul{
    text-align: left;
}
a{
    color: black;
}
#error-block{
    position: absolute;
    font-size: 15px;
    margin: 50px;
    left: 50px;
}



