<div class="contentAdd">
    <div id="header">
        <ul>
            <li><a class="data" href="?cmd=list_page" id="list-page-link">Nimekiri</a></li>
            <li><a class="dataActive" href="?cmd=add_page" id="add-page-link">Lisa</a></li>
        </ul>
    </div>
    <div id="error-block" >
        <div tpl-foreach="$errors as $error">{{$error}}<br></div>
    </div>
    <div class="tableAdd">
        <form method="post" action="?cmd=save">

            <table>
                <tr>
                    <td><b>Eesnimi:</b></td>
                    <td><input name="firstName" class="inputText" value="{{$firstName}}" placeholder="Type here..."/></td>
                </tr>
                <tr>
                    <td><b>Perekonnanimi:</b></td>
                    <td><input class="inputText" name="lastName" value="{{$lastName}}" placeholder="Type here..."/></td>
                </tr>
                <tr>
                    <td><b>Telefonid:</b></td>
                    <td><input class="inputText" name="phone1" value="{{$phone[0]}}" placeholder="Type here..."/></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input class="inputText" name="phone2" value="{{$phone[1]}}" placeholder="Type here..."/></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input class="inputText" name="phone3" value="{{$phone[2]}}" placeholder="Type here..."/></td>
                </tr>
                <tr>
                    <td></td>
                    <td align="right"><input name="submitButton" class="input1" type="submit" value="Salvesta"/></td>
                </tr>
            </table>
        </form>
    </div>
    <div class="blur"></div>
</div>

