<div class="contentList">
    <div id="header">
        <ul>
            <li><a class="dataActive" href="?cmd=list_page" id="list-page-link">Nimekiri</a></li>
            <li><a class="data" href="?cmd=add_page" id="add-page-link">Lisa</a></li>
        </ul>
    </div>
    <div class="table">
        <table>
            <tr class="head">
                <th><b>Eesnimi</b></th>
                <th><b>Perekonnanimi</b></th>
                <th><b>Telefonid</b></th>
            </tr>
            <tr class="row" tpl-foreach="$Items as $item" >
                <td><a href="?cmd=change_person_data&id={{$item['id']}}"><i>{{$item['firstName']}}</i></a></td>
                <td><i>{{$item['lastName']}}</i></td>
                <td><i>{{$item['phone']}}
                </i></td>
            </tr>
        </table>
    </div>
    <div class="blur"></div>
</div>

