<!DOCTYPE html>
<html lang="et">
<head>
    <meta charset="utf-8">
    <title>Proekt 1</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div class="container">

    <div tpl-include="{{ $template }}"></div>

</div>
</body>
</html>